
#preface {
  background: #FF2B06 url('images/preface-wrapper-bg.png') repeat-x top;
  min-height: 24px;
  padding-left: 15px;    /* LTR */
}

#main-wrapper a.active {
  color: #FF2B06;
  text-decoration: underline;
}

/************************************/
/* PRIMARY MENU WITH DROPDOWNS      */
/* - used with menu_tree theming of */
/* $primary_links in page.tpl.php   */
/************************************/

#primary-menu ul.menu li a {
/* CML 2:18 a.m. 19/05/2010 Changed it from #154B70 */
  color: #000000;
}

#primary-menu ul.menu li ul li {
/* CML 2:18 a.m. 19/05/2010 changed color from background: #94CE18; and  border-bottom: 1px solid #83A638;
   - did not use TED red here #FF2B06 - also changed font-weight to normal */
  background: #FF5104;
  border-bottom: 1px solid #E94700;
  font-weight: normal;
}

#primary-menu ul.menu li ul li a,
#primary-menu ul.menu li ul li a:link,
#primary-menu ul.menu li ul li a:visited {
/* CML 2:18 a.m. 19/05/2010 Changed it from #154B6F; */
  color: #000000;
}

#primary-menu ul.menu li ul li a:hover {
/* CML 2:18 a.m. 19/05/2010 Changed it from #fff; */  
  color: #FFFFFF;
  font-weight: bold;
}

#preface-wrapper h2.block-title {
/* CML 2:18 a.m. 19/05/2010 Changed it from #94CE18 */  
  color: #FF2B06;
}

#sidebar-first h2.block-title,
#sidebar-last h2.block-title,
#postscript-wrapper h2.block-title {
/* CML 2:18 a.m. 19/05/2010 Changed it from #94CE18 */  
  background-color: #FF2B06;
}

#comments h2.comments {
/* CML 2:18 a.m. 19/05/2010 Changed it from #94CE18 */  
  background-color: #FF2B06;
}

/* CML 2:23 a.m. 19/05/2010 Simple fix for Block Titles with Links */  

#sidebar-first h2.block-title a,
#sidebar-first h2.block-title a:link,
#sidebar-last h2.block-title a,
#sidebar-last h2.block-title a:link
{
  color: #FFFFFF;
  text-decoration: none;
}  

#sidebar-first h2.block-title a:hover,
#sidebar-first h2.block-title a:active,
#sidebar-last h2.block-title a:hover,
#sidebar-last h2.block-title a:active
{
  color: #FFCCCC;
  text-decoration: none;
}  

/* CML 2:23 a.m. 19/05/2010 For Tabs in User Profile */  

ul.tabs.primary,
ul.tabs.secondary {
white-space: normal;
}

ul.tabs.primary li,
ul.tabs.secondary li {
white-space: nowrap;
}

/* CML 6:59 a.m. 19/05/2010 For "Follow" module 
The module only defines a.follow-link, which apparently style.css from acquia_marine overrides
*/

a.follow-link:link, a.follow-link:visited {
height: 30px;
display: block;
line-height: 26px;
padding-left: 28px;
background-position: 0pt 0pt;
background-repeat: no-repeat;
}

/* CML 8:01 a.m. 19/05/2010 For blocks in header region
*/
#header-middle h2.block-title, #header-last h2.block-title {
color: #FF2B06;
font-size: 1.833em;
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
text-transform: none;
line-height: 1.25;
font-style:italic;
}

#header-middle h2.block-title .content p, #header-last h2.block-title .content p{
color: #000000;
font-size: 1.75em;
}