.tedx-corner-wrapper h2.pane-title {
  background-color: #94CE18;
  color: #fff;
  font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
  font-size: 1.333em;
  font-weight: 600;
  margin: 0 0 10px;
  padding: 8px 8px 6px 46px;
  text-align: right;
  text-shadow: #545454 1px 1px;
  text-transform: uppercase;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.tedx-corner-wrapper .content {
  background: transparent url('block-gradient.png') no-repeat center bottom;
  border-bottom: 3px solid #F1F5F7;
  padding: 10px 10px 8px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px; 
}

.tedx-corner-corner {
  margin-top: -1px;                               /* use negative margin to overlap stacked blocks */
}

.tedx-corner-topspace {
  margin-top: -14px;                                  /* removes unwanted space */
}

.tedx-corner-bottomspace {
  margin-bottom: -10px;                               /* removes unwanted space */
}

.tedx-corner-top-left, 
.tedx-corner-top-right,
.tedx-corner-bottom-left,
.tedx-corner-bottom-right {
  background: transparent url('rounded-block.png') no-repeat;                         /* combined rounded corner image */
  font-size: 2px;                                 /* IE div correction */
  height: 11px;                                   /* height of an image corner */
}

.tedx-corner-top-left,
.tedx-corner-bottom-left { 
  margin-right: 11px;                             /* width of an image corner */
}

.tedx-corner-top-right {                        /* anchor image in top right */
  background-position: 100% 0;
}

.tedx-corner-top-right,
.tedx-corner-bottom-right { 
  margin-left: 11px;                              /* width of an image corner */
  margin-top: -11px;                              /* height of an image corner */
}

.tedx-corner-bottom-left  { 
  background-position: 0 -11px;                   /* negative height of an image corner */
}

.tedx-corner-bottom-right { 
  background-position: 100% -11px;                /* negative height of an image corner */
}

.tedx-corner-outside,
.tedx-corner-inside {
  background: transparent url('rounded-block-inner.png') repeat-y right;
  padding-right: 8px;
}

.tedx-corner-inside {
  background-position: left;
  padding: 0 0 0 8px;
}

.tedx-corner-wrapper .pane-content {
  padding: 0 6px;
}

.tedx-corner-wrapper div.node h2.title {
  border: none;
}
